<header>
    <h1>Candidates</h1>
</header>
<nav>
    <input type="text" name="searchField" [(ngModel)] = 'searchString' (ngModelChange)="search()" placeholder="Enter login">
</nav>
<section>
    <ul>
        <li *ngFor="let user of users$ | async">
            <a href={{user.html_url}}>
                <img src="{{user.avatar_url}}">
            </a>
            <h3>{{user.login}}</h3>
        </li>
    </ul>
    <div>
        <button (click)="loadMore()">Load More Users</button>
    </div>
</section>

