header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 10vh;
    text-align: center;
    color: rgb(255, 255, 255);
}

h4 {
    margin: 0;
}

.main {
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 300px;
    background-color: aquamarine;
   }
   &__output {
    display: flex;
    flex-direction: column;
    &__header {
        background-color: blueviolet;
        width: 100%;
        text-align: center;
    }
    &__users {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
   }
}

div input {
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: transparent;
}

input[type=text] {
  width: 100%;
  padding: 0.3rem 0.3rem;
  margin: 0.3rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
}

ul {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    list-style-type: none;
    border-radius: 10px;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    background-color: rgba(127, 255, 212, 0.178);
}

ul li:hover {
    transition: 0.6s ease-in-out;
    transform: scale(1.05);
}

ul li h3 {
    margin: 0;
}

ul li img {
    width: 2rem;
    height: 2rem;
}

button {
    margin: 0.5rem;
}