<header>
    <h1>Github Users</h1>
</header>
<nav>
    <input type="text" name="login" [(ngModel)] = 'login' (ngModelChange)="Search()" placeholder="Enter login">
</nav>
<section>
    <ul>
        <li *ngFor="let user of users | paginate: {itemsPerPage: 24, currentPage: p}">
            <a href={{user.html_url}}>
                <img src="{{user.avatar_url}}">
            </a>
            <h3>{{user.login}}</h3>
        </li>
    </ul>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</section>
    
